/* footer */


.footer {
    padding: 48px 60px;
    height: 364px;
    /* 추후 풀페이지 ui에서 컨텐츠의 높이만큼만 잡히는 옵션사용 */
}

footer nav {
    margin-bottom: 48px;
}

footer .footer_menu {
    display: flex;
    justify-content: center;
    gap: 64px;
}

footer .footer_menu a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

footer .footer_menu a svg {
    width: var(--icon_m_w);
    height: var(--icon_m_h);
    transition: 0.4s;
}

footer .footer_menu a span {
    color: var(--white);
    font: var(--fmenu_text);
    transition: 0.4s;
}

footer .footer_menu li a:hover svg {
    fill: var(--primary_color);
}

footer .footer_link {
    display: flex;
    gap: 8px;
    justify-content: flex-start;
    position: relative;
    margin-bottom: 16px;
}

footer .footer_link::after {
    content: '';
    width: 100%;
    height: 2px;
    display: block;
    position: absolute;
    left: 0;
    top: calc(100% + 8px);
    background-color: rgba(238, 238, 238, 0.2);
}

footer .footer_link a {
    color: var(--white);
    font-size: 14px;
    font-weight: 300;
    line-height: 2;
}

footer strong {
    font-weight: bold;
    text-decoration: underline;
}

footer .footer_text address {
    font: var(--fbody_text);
    color: var(--white);
}

footer .footer_text span {
    font: var(--fbody_text);
    color: var(--white);
}

footer .copyright {
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    color: var(--white);
}
/* accordion_btn */

.accordion_btn{
    position: relative;
    outline: 1px solid red;
}
.accordion_btn::after{
    content: '';
    display: block;
    width : 24px;
    height: 24px;
    background-color: blueviolet;
    position : absolute;
    top : 0;
    left :calc(100% + 12px);
}


.mail{
    color : blue;
}