/* all */
body{
    background: #000;
    color:#fff;
    font-size:13px;
    font-family: "Noto Sans KR", sans-serif;
}
.title{
    margin-top:120px;
}
.title h2{
    font-size:33px;
    font-weight: 700;
    color:#fff;
}
.tabs{
    font-size:15px;
}
.form-group{
    width:500px;
    height:100%;
    display:flex;
    flex-direction: column;
    gap:10px;
}
input{
    width:100%;
    height: 48px;
    border-radius: 8px; 
    padding:10px;
    outline: none;
    border:none;
}
input[type="checkbox"],input[type="radio"]{
    width:13px;
    height:13px;
}
input[type="submit"]{
    color:#fff;
    background:var(--primary_color);
}
input[type="submit"]:hover,input[type="button"]:hover{
    background:var(--fill_hover_color);
}
input[type="submit"]:active,input[type="button"]:active{
    background:var(--fill_active_color);
}
input[type="button"]{
    color:#fff;
    background:var(--primary_color);
    font-size:0.875em;
}
.tel_ok, .verification_ok{
    width:100%;
    display:flex;
    gap:10px;
}
button[type="button"]{
    font-size:14px;
    width:100%;
    height: 48px;
    background:#2d2d2d;
    border:#2d2d2d;
    box-sizing: border-box;
}
.btn-close{
    display:none;
}
button[type="button"]:hover,.sms:hover{
    background:#3d3d3d;
}
button[type="button"]:active,.sms:active{
    background:#4d4d4d !important;
}
.modal-body p{
    font-size:12px;
    line-height: 22px;
}
/* all end */
/* tab1 */
.one{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.login{
    display:flex;
    gap:24px;
    margin-top:48px;
    margin-bottom:48px;
}
.tab1{
    height:100%;
}
.naverLogin{
    width:100%;
    height: 48px;
    border-radius: 8px;
    display:flex;
    justify-content: center;
    align-items: center;
    background:#03c75a;
    margin-top:10px;
    margin-bottom:24px;
}
.naverLogin:hover{
    background:rgb(23,183,94);
}
.naverLogin:active{
    background:rgb(42,183,94);
}
.save{
    display:flex;
    justify-content: space-between;
    margin-bottom:48px;
}
.save_checkbox{
    display:flex;
    gap:5px;
}
.idSearch{
    display:flex;
    gap:24px;
    justify-content: center;
}
/* tap1 end */
/* login error */
#userid.error{
    box-shadow: inset 0 0 10px rgba(255,0,0,0.8);
}
/* login error end */
/* login tabs active */
.login li a.active{
    color:var(--primary_color);
    border-bottom:2px solid var(--primary_color);
    box-sizing: border-box;
    transition: .3s;
}
/* login tabs active end*/
/* tap2 */
#verification,#verification_complete,#dob3,#dob5{
    width:20%;
}
.privacy_label_box{
    display:flex;
    justify-content: space-between;
    margin-top:12px;
    margin-bottom:12px;
}
.radio_label{
    display:flex;
    gap:10px; 
}
.radio_label label{
    display:flex;
    gap:8px;
}
input[type="radio"] {
    accent-color: red; /* 또는 #ff0000 등 원하는 색 */
  }
input[type="checkbox"] {
accent-color: red; /* 또는 #ff0000 등 원하는 색 */
}
.privacy_Policy{
    display:flex;
    flex-direction: column;
    gap:12px;
}
.privacy_Policy a{
    display:inline-block;
    color:var(--primary_color);
}
#guest{
    margin-bottom:12px;
}
.privacy{
    display:flex;
    flex-direction: column;
    gap:10px;
    margin-bottom:12px;
}
/* tap2 end */
/* tab3 */
.sms{
    display:flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height: 48px;
    border-radius: 8px; 
    padding:10px;
    outline: none;
    border:none;
    background:#2d2d2d;
    margin-bottom:12px;
}
.information{
    margin-bottom:12px;
}
/* tab3 end */
/* 라벨 히든 */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    white-space: nowrap;
    border: 0;
}
/* 미디어 */
@media (max-width:500px) {
    .form-group{
        width:100%;
    }
    input[type="button"]{
        font-size:0.7em;
    }
    #tab1{
        width:100%;
    }
}