body{
    background: #000;
    color:#fff;
    font-size:14px;
}
h2{
    text-align: center;
    margin-bottom:48px;
    margin-top:120px;
    font-size:33px;
    font-weight: 700;
}
.one{
    width:500px;
}
li{
    list-style:none;
}
a{
    text-decoration:none;
    color:#fff;
}
form {
    width:500px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.login{
    display:flex;
    gap:24px;
    padding:0;
    margin-bottom:48px;
    width:500px;
    justify-content: center;
}
.login li a.active{
    color:#ED3124;
    border-bottom:3px #ED3124 solid;
    transition: 0.3s;
}
input{
    width:100%;
    height:48px;
    border-radius:8px;
    padding:12px;
    box-sizing:border-box;
    background-color:#fff;
}
#checkbox{
    width:13px;
    height:13px;
}
.checkId{
    width:100%;
    display:flex;
    justify-content: space-between;
    gap:10px;
}
.checkId input[type='button']{
    width:30%;
}
.naver{
    display:block;
    width:100%;
    height:48px;
    background-color:#349C1F;
    border:1px #349C1F solid;
    border-radius: 8px;
    text-align: center;
    line-height: 44px;
    margin-bottom:24px;
}
.box2 input{
    margin-right:3px;
}
.box{
    display:flex;
    gap:352px;
    margin-bottom:48px;
    width:500px;
    align-items: center;
}
.consent{
    width:13px;
    height:13px;
}
input[type="button"],input[type="submit"]{
    line-height: 24px;
    vertical-align: center;
    background: #ED3124;
    border:#ED3124;
    color:#fff;
    padding:0;
}
.Search{
    display:flex;
    gap:24px;
    width:100%;
    justify-content: center;
    padding:0;
}
/*tab2*/
#openModal{
    background: none;
    border:none;
    color:#ED3124;
    padding:0;
}
#tab2 .policy{
    color:#ED3124 !important;
    display:block;
    margin-top:12px;
    margin-bottom:24px;
}
#tab2 div input[type="submit"]{
    margin-bottom:24px;
}
.btn {
    width:500px;
    background: none;
    border:none;
    color:#ed3124;
    font-size:15px;
    text-align:start;
    padding:0;
}
.btn:hover{
    background:#ed3124;
}
#tab2 div p{
    margin-bottom:12px;
}
#tab2 div p:last-child{
    margin-bottom:24px;
}
p{
    font-size:13px;
}
.notice{
    display:flex;
    flex-direction: column;
    gap:12px;
    justify-content: center;
    align-items: left;
    width:733px;
    height:250px;
    border-radius:14px;
    background:#945934;
    margin-top:24px;
}
.radio{
    margin-top:24px;
    margin-bottom:12px;
    display:flex;
    gap:10px;
}
#submitid{
    margin-bottom:24px;
}
/* tab3 */
#tab3 form {
    margin-bottom:12px;
}
.modal-body p{
    font-size:12px;
    line-height: 20px;
    margin-bottom:12px;
}
/* input error */
input.error{
    outline:2px solid rgba(255,0,0,1);
    box-shadow:inset 0 0 10px rgba(255,0,0,.5);
}