body{
            background: #000;
            color:#fff;
            font-size:14px;
        }
        .one{
            width:500px;
            margin:0 auto;
        }
        li{
            list-style:none;
        }
        a{
            text-decoration:none;
            color:#fff;
        }
        .login{
            display:flex;
            gap:24px;
            padding:0;
            margin-bottom:48px;
            width:100%;
            justify-content: center;
        }
        input{
            width:500px;
            height:48px;
            border-radius:8px;
            margin:5px;
            padding:24px;
            box-sizing:border-box;
        }
        #checkbox{
            width:13px;
            height:13px;
        }
        .naver{
            display:block;
            width:500px;
            height:46px;
            background-color:#349C1F;
            border:1px #349C1F solid;
            border-radius: 8px;
            text-align: center;
            line-height: 46px;
            margin-left:5px;
            margin-top:5px;
            margin-bottom:24px;
        }
        .box{
            display:flex;
            gap:335px;
            margin-bottom:48px;
            width:100%;
        }
        .consent{
            width:13px;
            height:13px;
        }
        input[type="submit"]{
            line-height: 24px;
            vertical-align: center;
            background: #ED3124;
            border:#ED3124;
            color:#fff;
            padding:0;
        }
        .Search{
            display:flex;
            gap:24px;
            width:100%;
            justify-content: center;
            padding:0;
        }