.section {
  width: 100%;
}

.page2 {
  background-color: coral;
}

.page3 {
  background-color: #000;

}

.page4 {
  background-color: coral;

}

.page5 {
  background-color: cornflowerblue;

}

.page6 {
  background:url('/images/store.png');
}

.page7 {
  background-color: cornflowerblue;

}

.page8 {
  background-color: coral;

}

/* main_banner */
.con {
  /*추후 bootstrap gird로 변경*/
  /* outline: 5px solid red; */
  width: 1320px;
  /* height : 100vh; */
  margin: 0 auto;
  position: absolute;
  left: 50%;
  bottom: 240px;
  /* %값으로 변경 */
  transform: translateX(-50%);
  z-index: 30;
}

.main_banner .content_box {}

.main_banner .content_box .text_box {
  margin-bottom: 24px;
}

.main_banner .text_box .title {
  font-size: 40px;
  font-weight: bold;
  letter-spacing: -1.1%;
  line-height: 48px;
  margin-bottom: 48px;
  color: #fff;
}

.main_banner .text_box .des {
  font-size: 16px;
  font-weight: 200;
  letter-spacing: -1.1%;
  line-height: 24px;
  color: #fff;
}

.main_banner .text_box .des {
  margin-bottom: 24px;
}

.main_banner .content_box .btn_box {}

.main_banner .content_box button {
  padding: 24px 80px;
  border-radius: 36px;
  color: #fff;
  font-weight: 200;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -1.1%;
}

.main_banner .content_box .info_btn {
  background-color: transparent;
  backdrop-filter: blur(20px);
  margin-right: 24px;
  border: 1px solid #fff;
}

.main_banner .content_box .info_btn:hover {
  background-color: var(--bg-op-50);

}

.main_banner .content_box .cta_btn {
  background-color: var(--primaryColor);
  border: 1px solid var(--primaryColor);

}
/* // */


/* bannerBg */
.main_banner .banner {
  width: 100%;
  height: 100vh;
}

.main_banner .banner .cover {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
}

.main_banner .banner video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}


/*cinema*/
.page5 {
  background: var(--bg-color) url(../images/suite.png) no-repeat center center / cover;
}

.page5>div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: var(--sectionBg-Grad-lin);
}

.cinema {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.cinema div div.active {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.cinema button {
  border: none;
  background: none;
  color: var(--fontColorWhite);
  font: var(--designFonts);
  letter-spacing: -5px;
}

.cinema div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.cinema button.active {
  border-bottom: 8px solid var(--primaryColor);
  color: var(--primaryColor);
  line-height: 76px;

}

.cinema div div {
  display: none;
}

.cinema p {
  color: var(--primaryColor);
  font: var(--cinemaP);
  text-align: center;
  background: no-repeat
}

.cinema a {
  display: flex;
  border: 1px solid var(--primaryColor);
  border-radius: 36px;
  width: 253px;
  height: 72px;
  justify-content: center;
  align-items: center;
  font: var(--BtnText);
  color: var(--primaryColor);
}

div.active a.indetail_btn:hover {
  color: var(--fontColorWhite);
  background: var(--primaryColor);
  border: 1px solid var(--primaryColor);
  transition: .5s;
}

h5 {
  display: flex;
  justify-content: center;
  color: var(--fontColorWhite);
  font: var(--cinemaText);
}
/* cinema end */
/* promotion */
.page6{
  width:100%;
  height: 100vh;
}
.promotion{
  width:100%;
  height: 100vh;
  display:flex;
  color:#fff;
  text-align: center;
}
.promotion h6{
  color:var(--primaryColor);
}
.store{
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width:100%;
}
.store:hover{
  background:rgba(0,0,0,0.6);
}
.store:hover h6, .store:hover p{
  transform:translateY(-50px);
  transition:.5s;
}
.event{
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width:100%;
  border-top: 0;
  border-bottom: 0;
  border-right: 1px solid rgba(238,238,238,0.2);
  border-left: 1px solid rgba(238,238,238,0.2);
  box-sizing:border-box;
}
.event:hover{
  background:rgba(0,0,0,0.6);
}
.event:hover h6, .event:hover p{
  transform:translateY(-50px);
  transition:.5s;
}
.special{
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width:100%;
}
.special:hover{
  background:rgba(0,0,0,0.6);
}
.special:hover h6, .special:hover p{
  transform:translateY(-50px);
  transition:.5s;
}
.hashtag{
  opacity: 0;
}
.hashtag.active{
  opacity: 1;
  transform: translateY(50px);
  transition:.5s;
}
.hashtag ul{
  display:flex;
}
.hoverPromotion{
  display:none;
}
.hoverPromotion h6{
  color:var(--primaryColor);
}
.hashtag ul li{
  background:rgba(0,0,0,0.6);
  border:1px solid rgba(0,0,0,0.6);
  border-radius: 36px;
  box-sizing:border-box;
}

/* promotion end */
/* recommend */
.recommend {}

.recommend .con1 {
  width: 1320px;
  margin: 0 auto;
}

.recommend .content_box {
  width: 1400px;
  background-color: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(20px);
  border-radius: 48px;
  position: absolute;
  top: 50%;
  left: 15%;
  transform: translateY(-50%);
  z-index: 30;
  padding: 72px 100px;
  border : 1px solid #f0f0f0;
}

.recommend .content_box .text_box {
  margin-bottom: 48px;
  width : 60%;
}

.recommend .content_box .text_box .title {
  font-size: 48px;
  color: #fff;
  font-weight: bold;
  letter-spacing: -1.1%;
  line-height: 72px;

  margin-bottom: 24px;
}

.recommend .content_box .text_box .des {
  font-size: 18px;
  color: #fff;
  letter-spacing: -1.1%;
  line-height: 24px;
  font-weight: 100;

  margin-bottom: 24px;
}

.recommend .content_box .text_box span {
  font-size: 20px;
  color: #fff;
  font-weight: 100;
  letter-spacing: -1.1%;
  line-height: 24px;
}

.recommend .content_box .btn_box button {
  padding: 24px 80px;
  border-radius: 36px;

  font-size: 24px;
  line-height: 24px;
  letter-spacing: -1.1%;
}
.recommend .content_box .btn_box a{
  color : #fff;
}
.recommend .content_box .btn_box .cta_btn {
  background-color: transparent;
  border: 1px solid var(--primaryColor);
  color: var(--primaryColor);
  margin-right : 24px;
}

.recommend .content_box .thumb {
  position: absolute;
  width: 400px;
  top: -30px;
  right: 100px;
  border-radius : 20px;
  box-shadow: var(----box--shadow-card);
}




.recommend .bg {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;

  z-index: 20;
}

.recommend .bg .cover {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.recommend .bg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/* query */
@media (max-width: 1600px) {
  .releasedtitle h2 {
    margin-top: 100px;
  }
}