    .section {
      width: 100%;
    }

    .page1 {
      background-color: cornflowerblue;
    }

    .page2 {
      background-color: var(--bg-color);
    }

    .page3 {
      background-color: cornflowerblue;

    }

    .page4 {
      background-color: coral;
      

    }

    .page5 {
      background-color: cornflowerblue;

    }

    .page6 {
      background-color: var(--bg-color);
      
    }

    .page7 {
      background:  url(../images/location_bg.png);
    }
    .page8 {
      background-color: var(--bg-color);

    }

    /*cinema*/
    .page5 {
      background: var(--bg-color);
      background: url(../images/suite.png) no-repeat;
    }

    .page5>div {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
      background: var(--sectionBg-Grad-lin);
    }

    .cinema {
      display: flex;
      flex-direction: column;
      gap: 24px;
    }

    .cinema div div.active {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 16px;
    }

    .cinema button {
      border: none;
      background: none;
      color: var(--fontColorWhite);
      font: var(--designFonts);
      letter-spacing: -5px;
    }

    .cinema div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 24px;
    }

    .cinema button.active {
      border-bottom: 8px solid var(--primaryColor);
      color: var(--primaryColor);
      line-height: 76px;

    }

    .cinema div div {
      display: none;
    }

    .cinema p {
      color: var(--primaryColor);
      font: var(--cinemaP);
      text-align: center;
      background: no-repeat
    }

    .cinema a {
      display: flex;
      border: 1px solid var(--primaryColor);
      border-radius: 36px;
      width: 253px;
      height: 72px;
      justify-content: center;
      align-items: center;
      font: var(--BtnText);
      color: var(--primaryColor);
    }

    h5 {
      display: flex;
      justify-content: center;
      color: var(--fontColorWhite);
      font: var(--cinemaText);
    }

    /*store*/
    .box1 {
      display: flex;
      height: 100vh;
    }

    .box2 {
      display: flex;
      flex-direction: column;
      width: 709px;
      border: 1px solid var(--fontColordisable);
      box-sizing: border-box;
      
      gap: 12px;
      text-align: center;
      color: var(--fontColorWhite);
      justify-content: center;
      cursor: pointer;
    }

    .box2 h6 {
      font: var(--storeText);
    }

    .box2 p {
      font: var(--storeTextP);
    }

    .smimage img {
      display: none;
    }





  
/* 07 location pym */
.page7>div{
  background: var(--sectionBg-Grad-lin);
}
.location{
  height : 100vh;
  width: 100%;
  display: flex;
  color: var(--fontColorWhite);
  align-items: center;
  justify-content: center;

}
.location>div{
  text-align: center;
  width: 100%;
}
.location>div h2{
  font: var(--titleText);
}
.location>div p{
  font: var(--storeTextP);
  padding: 24px 0;
}
.location>div input{
  height: 72px;
  width: 100%;
  border-radius: 8px;
  border: 0px solid;
  padding: 0 24px;
}
.search-btn{
  display: inline-flex;
  color: #212121;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
}

/* 08 search pym */
.app{
  display: flex;
  color: var(--fontColorWhite);
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.app>div p{
  font: var(--storeTextP);
}
.app>div h2{
  font: var(--titleText);
  padding: 24px 0;
}
.appdown{
  padding-top: 24px;
  display: flex;
  gap: 24px;
}

.appdown a{
  /* font: var(--storeTextP); */
  border: 1px solid var(--fontColorWhite);
  border-radius: 36px;
  color: var(--fontColorWhite);
  padding: 23px 80px 22px;
  font-size: 24px;
  display: flex;
}
.appdown a img {
  vertical-align: middle;
  margin-right: 10px;
}


/*  02 rank  */
body {
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: black;
}
.movie-detail {
  /* flex: 1; */
  padding-left: 140px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--fontColorWhite);
  z-index: 3;
  position: relative;
}

.ranking-number {
  font-size: 150px;
  font-weight: 600;
  margin-bottom: -80px;
  line-height: 120px;
  color: var(--fontColorWhite);
}

.movie-title {
  font:var(--titleText);
}

.star-rating {
  display: flex;
  gap: 5px;
}

.star {
  color: #ffd700;
  font-size: 24px;
  transition: 0.3s;
}

.star.empty {
  color: var(--fontColorDark);
}

.movie-description {
  font-size: var(--storeTextP);
  line-height: 1.6;
  margin-bottom: 20px;
}
.movie-buttons {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
}

.btn{
  font-size: 24px;
  line-height: 24px;
  padding: 24px 80px;
  border-radius: 37px;
}

.btn-details {
  background: none;
  color: var(--fontColorWhite);
  border: 1px solid var(--fontColorWhite);
}

.btn-details:hover {
  background: var(--bg-op-50);
  border: 1px solid var(--fontColorWhite);
}

.btn-buy {
  background: var( --primaryColor);
  color: var(--fontColorWhite);
}

.btn-buy:hover {
  background: #b8070f;
}

/* 우측 포스터 슬라이더 영역 */
.poster-slider {
    position: absolute;
    right: 0;
    bottom: 120px;
    width: 50%;
    /* height: 100vh; */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.poster-container {
  position: relative;
  width: 100%;
  height: 0%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.poster-items {
  display: flex;
  gap: 20px;
  transition: transform 0.8s;
  align-items: center;
}

.item {
  position: relative;
  width: 306px;
  height: 418px;
  border-radius: 15px;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.5s ease;
  flex-shrink: 0;
}
.poster-bg {
  width: 306px;
  height: 418px;
  background-size: cover;
  background-position: center;
  position: relative;
}

.poster-number {
  position: absolute;
  bottom: 0px;
  left: 10px;
  color: var(--fontColorWhite);
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  
  font-size: 60px;
}

/* 네비게이션 버튼 */
.nav-buttons {
  position: absolute;
  bottom: 30px;
  left: 80px;
  display: flex;
  gap: 15px;
  z-index: 4;
}

.nav-btn {
  width: 50px;
  height: 50px;
  border: 1px solid var(--fontColorDark);
  background: transparent;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s;
  color: var(--fontColorWhite);
  font-size: var(--storeTextP);
}

.nav-btn:hover {
  background: var(--fontColorWhite);
  border-color: var(--fontColorWhite);
}

/* 영화포스터 이미지 */
.poster-1 { background-image: url(/imges/howtotraindragon.jpg);}
.poster-2 { background-image: url(/imges/f1.jpg); }
.poster-3 { background-image: url(/imges/28yearslater.jpg); }
.poster-4 { background-image: url(/imges/nausicaaofthevalleyofthewinds.jpg); }
.poster-5 { background-image: url(/imges/theseedofthescaredfig.jpg); }
