* {
    box-sizing: border-box;
}

main {
    width: 100%;
    /* height: 100vh; */
    position: relative;
}

.boot {
    width: 1320px;
    height: 100vh;
    margin: 0 auto;
    position: relative;
    outline: 1px solid red;
}

main .content_box {
    position: absolute;
    left: 0;
    bottom: 18%;
    /* 작은값 / 큰값 = 0.18... * 100 = 18%  */
    z-index: 30;

    /* 임시값 */
    color: #fff;
}

.content_box .moive_box {}

.moive_box .title {
    display: inline-block;
    font: var(--title);
    color: var(--white);
    margin-bottom: 10px;
    position: relative;
}

h2.rating::after {
    width: var(--icon_s_w);
    height: var(--icon_s_h);
    display: block;
    position: absolute;
    left: calc(100% + 5px);
    bottom: 0;
    color: var(--white);
    font: var(--rating_number);
    border-radius: var(--icon_radius);
    text-align: center;
    padding-top: 5px;
}

h2.rating19::after {
    content: '19';
    background-color: var(--rating19);
}

h2.rating15::after {
    content: '15';
    background-color: var(--rating15);
}

h2.rating12::after {
    content: '12';
    background-color: var(--rating12);
}

h2.ratingall::after {
    content: 'All';
    background-color: var(--ratingAll);
}






























.moive_box .special_cinema {
    display: flex;
    outline: 1px solid red;
    justify-content: flex-start;
    gap: 10px;
    margin-bottom: 16px;
}

.moive_box .special_cinema span {
    display: block;
    width: 85px;
    height: 45px;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.6);
    text-align: center;
    padding-top: 13px;
    box-sizing: border-box;
}

.moive_box .info_box {
    outline: 1px solid red;
    margin-bottom: 16px;
}
.moive_box .info_box p{
    font-size : 16px;
    line-height : 24px;
    font-weight: 300;
}
.moive_box .content_body {
    font-size : 16px;
    line-height: 24px;
    font-weight: 300;
    margin-bottom: 30px;
}



.moive_box .btn_box {}

.moive_box .btn_box .cta_btn {}

.video_banner {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}

.video_banner::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.video_banner video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}
.btn_box a {
  display: inline-block;
}

.cta_btn {
  background-color: var(--primary_color);
  padding: var(--web_btn_padding);
  color: var(--white);
  font: var(--btn_text);
  border: var(--empty_btn_border);
  border-radius: var(--max_radius);
  backdrop-filter: blur(20px);
}


.movie_chart{
    background-color: #000;
    /* 임시값 */
    color : #fff;
}
.movie_chart .tab_menu{
    display: flex;
    gap : 20px;
    margin-bottom: 24px;
}
.tab_menu li.on{
    color : var(--primary_color);
}
.tab_menu li a{
    font-size : 20px;
    font-weight : 400;
}


.tab_content{}
.tab_content .total{
    font-size : 16px;
    font-weight : 300;
}
footer {
    background-color: #000;
}