body{
	background: #3B3B3B;
	color:#fff;
	font-size:14px;
	font: 15px/24px "Noto Sans KR", sans-serif;
}
.main-container {
	max-width: 1280px;
	margin: 144px auto 76px;
	position: relative;
}
.booking-container {
	background-color: #1B1B1B;
}
.booking-tab {
	/* flex: 1; */
	text-align: center;
	padding: 76px 0;
	width: 80px;
	height: 200px;
	background-color: #323232;
	cursor: pointer;
	position: relative;
	border-top: 1px solid #434343;
}
.booking-tab.active {
	background-color: #FF243E;
}
.booking-header{
	display: flex;
	min-width: 1280px;
	background-color: #121212;
	color: var(--light_white);
}
.header{
	position: relative;
	height: 60px;
	text-align: center;
	padding: 18px;
	font-size: 18px;
  line-height: 24px;
}
.header-1 {
  width: 430px;
	border-right: 1px solid #434343;
}
.header-2 {
  width: 350px;
	border-right: 1px solid #434343;
}
.header-3 {
  width: 500px;
}

/* 영화예매 컨텐츠 영역 */
.tab-button{
	position: absolute;
	display: flex;
	top: 60px;
	left: 80px;
}
.movie-section .tab-button{
	left: 430px;
}
.cinema-tab-btn{
	border: none;
	background-color: #1B1B1B;
	width: 350px;
	height: 60px;
	color: var(--white);
	border: 1px solid #434343;
}
.tab-btn{
	border: none;
	background-color: #262525;
	width: 175px;
	height: 60px;
	color: #767575;
	border: 1px solid #434343;
}
.tab-btn.active{
	background-color: #1B1B1B;
	color: var(--white);
}

/* 극장 list */
.cinema-list{
	position: absolute;
	left: 80px;
	top: 120px;
}
.cinema-area-list > ul {
	width: 350px;
}
.cinema-area-list li{
	display: flex;
	height: 34px;
	font-size: 14px;
	line-height: 34px;
}
.cinema-area-list a{
	width: 175px;
	padding-left: 20px;
}
.cinema-area-list a.active{
	background-color: #262525;
}
.cinema-area-list a span:nth-of-type(2){
	color: #767575;
}
.area-cinema-list a{
	padding-left: 20px;
	background-color: transparent;
}
.area-cinema-list a.active{
	color: var(--primary_color);
}
.area-cinema-list .content{
	width: 175px;
	height: 740px;
	overflow: scroll;
	background-color: #262525;
	border-top: 8px solid #262525;
  border-right: 6px solid #262525;
  border-bottom: 8px solid #262525;
  border-left: none;
}
.area-cinema-list .content.scroll-y{
	overflow-x: hidden;
}
/* 스크롤 */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-thumb {
  background: #868686;
  border-radius: 10px;
}


/* 영화 list */
.movie-list{
	position: absolute;
	left: 430px;
	top: 120px;
}
.movie-list > ul {
	width: 350px;
}
.movie-list li{
	height: 34px;
	font-size: 14px;
	line-height: 34px;
	position: relative;
}
.movie-list li a{
	padding-left: 40px;
}
/* age icon */
.rating{
  width: var(--icon_s_w);
  height: var(--icon_s_h);
  position: absolute;
  top: 5px;
  color: var(--white);
  font: var(--rating_number);
  border-radius: var(--icon_radius);
  text-align: center;
  padding-top: 6px;
	margin-left: 10px;
}

.rating19{
  content: '19';
  background-color: var(--rating19);
}

.rating15{
  content: '15';
  background-color: var(--rating15);
}

.rating12{
  content: '12';
  background-color: var(--rating12);
}

.ratingall{
  content: 'All';
  background-color: var(--ratingAll);
}

.movie-list a {
  display: block;
  height: 34px;
  padding-left: 30px;
  background-color: #1B1B1B;
	line-height: 34px;
}
.movie-list a.active {
  background-color: #262525;
  border: 2px solid #fff;
	box-sizing: border-box;
	width: 98.3%;
}
.movie-list .content{
	width: 350px;
	height: 740px;
	overflow: scroll;
	background-color: #1B1B1B;
	border-top: 8px solid #1B1B1B;
  border-right: 6px solid #1B1B1B;
  border-bottom: 8px solid #1B1B1B;
}
.movie-list .content.scroll-y{
	overflow-x: hidden;
}

/* 날짜 선택 */
.calendar-container{
	
}
.date{
	position: absolute;
	width: 500px;
	height: 800px;
	background-color: #262525;
}
.month-title{
	padding: 14px 0 14px 65px;
	font-size: 12px;
	color: var(--light_white);
}
.slide-container{
	display: flex;
	padding: 0 18px;
}

.slider-content{
	width: 382px;
	overflow: hidden;
	
}
.slider-wrapper{
	display: flex;
	justify-content: space-between;
	gap: 18px;
	
}
.slid{

}
.slide a{
	display: flex;
  flex-direction: column;
	text-align: center;

}
.slide a span{
	color: var(--light_white);
	font-size: 15px;
	font-weight: bold;
	width: 32px;
	height: 32px;
	padding-top: 2px;
}
.slide a span:first-child.active{
	background-color: #121212;
	width: 32px;
	height: 32px;
	border-radius: 50%;
	top: 0px;
}
.slide a span:last-child{
	color: var(--light_white);
	font-size: 14px;
	font-weight: 400;
	padding-top: 10px;
}


.nav-btn {
  width: 40px;
  height: 40px;
  background: transparent;
	border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s;
  color: var(--disable_color);
  font-size: 16px;
	line-height: 16px;
	padding: 25px 10px 0 10px;
}
.nav-btn:hover {
  color: #B5B5B5;
}
.line{
	width: 450px;
	height: 1px;
	background-color: #5E5E5E;
	align-items: center;
	margin-top: 20px;
	margin-left: 20px;
}
/* 시간 선택 */
.time-section{
	position: absolute;
	left: 800px;
	top: 197px;
	padding: 24px 0 0 0;
}
.movie-title{
	padding-left: 30px;
	padding-bottom: 20px;
	font-size: 15px;
	font-weight: bold;
}
.movie-title .rating{
	top: 25px;
	left: 0;
	margin-left: 0;
}
.time-container{
	display: flex;
  flex-wrap: wrap;
	gap: 12px;
	width: 460px;
	padding-bottom: 24px;
}	
.time-select{
	border-radius: 5px;
	background-color: #DFDFDF;
	border: none;
}
.time-select.active {
  background-color: #FFD9D9;
  border: 2px solid red;
	box-sizing: border-box;
}
.time{
	font-size: 15px;
	line-height: 24px;
	font-weight: bold;
}
.theater-data{
	display: flex;
	gap: 	12px;
	padding: 0 12px;
	font-size: 12px;
	color: var(--black);
}
h3{
	font-size: 13px;
	line-height: 24px;
	padding-bottom: 5px;
	color: var(--light_white);
}




.next-page{
	position: absolute;
	left: 1160px;
	bottom: 24px;
	background-color: var(--primary_color);
	font-size: 20px;
	line-height: 24px;
	padding: 12px 30px;
	border-radius: 5px;
	border: none;
	color: var(--white);
}
